<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Define targets -->
	<targets>
		<target name="logfile" xsi:type="File"
				fileName="${basedir}/Logs/auto-mode-${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=tostring}" />
	</targets>

	<!-- Define rules -->
	<rules>
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>

</nlog>
