<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ky-esper-dev-vnet-win-bxfuddacbzh4bret.westus2-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/25e07f8b-8030-4dd6-a4b1-dc69db06cb6c/resourceGroups/Kyndryl-Dev/providers/Microsoft.Web/sites/ky-esper-dev-vnet-win</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://ky-esper-dev-vnet-win-bxfuddacbzh4bret.scm.westus2-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>